*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
:root{
    --description-text: #727272;
    --title-color: #131313;
    --primary-btn:#FF900E;
}
.description{
    color: var(--description-text);
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
}
.primary-btn{
    background: var(--primary-btn);
    padding: 20px 25px;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    border: none;
    border-radius: 10px;
    margin-top: 32px;
}
.title{
   color: var(--title-color); 
   font-size: 40px;
   font-weight: 700;
   line-height: 50px;
   margin-bottom: 24px;
}
.sub-title{
    color: var(--title-color);
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
/* -------------------------------------
         Home Section Styles Start 
    -------------------------------------*/
.home{
    background: #FFF4E7;
    /* height: 100vh; */
}
.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
nav{
    /* background: gray; */
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    margin: 0 auto;
}
.logo{
    color: #131313;
    font-size: 40px;
    font-weight: 700;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}
.home-details{
    text-align: center;
    margin-top: 60px;
}
.home-header{
    color: var(--title-color);
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 15px;
}
.home-details img{
    width: 100%;
    height: 500px;
    margin: 50px 0px;
}
/* ------------------------------
        Feature Section Styles Start  
  ----------------------------------*/
  .feature{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin-top: 80px;
}
.photos,
.feature-info{
    width: 50%;
}
.photos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}
.photos img{
    width: 100%;
}

/* ------------------------------
        feature-details         
    ----------------------------- */
.extra-color{
    color: var(--description-text);
}
.feature-details{
    display: flex;
    margin-top: 100px;
    gap: 90px;
}
.feature-text,
.feature-img{
    width: 50%;
}
.feature-img>img{
    width: 100%;
    height: 100%;
    z-index: -1;
}
.feature-image{
    position: relative;
    z-index: -1;
}
.feature-details-title{
    border-left: 5px solid var(--primary-btn);
    padding-left: 20px;
}
.text-box{
    margin-top: 30px;
}
.box{
    width: 100%;
    padding: 10px 20px 10px 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 4px rgba(0, 0, 0, 0.02);
}
.popup{
    height: 150px;
    width: 200px;
    background: var(--primary-btn);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: -120px 0px 0px -50px;
    z-index: 1;
}

/* facts section style start */
.facts{
    margin-top: 100px;
}
.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}
.card{
    border: 1px solid var(--primary-btn);
    padding: 40px 35px;
    text-align: center;
    border-radius: 8px;
}
.card>img{
    margin-bottom: 10px;
}
.card>h2{
    margin-bottom: 5px;
    color: var(--title-color);
}
.card>h4{
    color: var(--description-text);
}
.card:hover{
    /* background-color: red; */
    box-shadow: 4px 4px rgba(0, 0, 0, 0.03);
    transform: scale(1.1);
    border: 1px solid hotpink;
}

/* facts section style start */

/* Sponsore section style start */
.Sponspor{
    margin-top: 150px;
}
.sponsor-info{
    text-align: center;
}
.company-logos{
    display: flex;
    gap: 40px;
    width: 100%;
}
.company-logo{
    height: 100px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.company-logo>img{
    width: 100px;
    filter: grayscale(100%);
}
/* Sponsore section style End */

/* Contact Section Start */
.contact{
    text-align: center;
    background-color: #FFF4E7;
    padding: 50px 0px;
}
.contact-item,
.row{
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 30px;
}
.contact-icon{
    margin-bottom: 50px;
}
.contact-sub-title{
    margin: 25px 0px 50px;
}

.fa{
    font-size: 25px;
    color: var(--primary-btn);
    margin-bottom: 20px;
}
.contact-item input,
.row input,textarea{ 
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    border: none;
    outline: none;
    margin-top: 50px;
}
.row input{
    height: 50px;
}
.contact-form{
    padding: 0px 30px;
}
/* Contact Section End */

/* Footer Section  */

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: #FFF4E7;
    text-align: center;
    margin-top: 120px;
}

/* Footer section end  */

/* -------------------------------------
                Media Quary
    ------------------------------------- */
    @media only screen and (max-width:768px){

        .primary-btn{
            background-color: var(--primary-btn);
        }
        nav{
            flex-direction: column;
        }
        .logo{
            margin-bottom: 20px;
        }
        .feature{
            flex-direction: column;
        }
        .photos,
        .feature-info{
            width: 100%;
        }
        .feature-info{
            text-align: center;
        }
        .feature-details{
            flex-direction: column-reverse;
        }
        .feature-details-title{
            border-left: none;
        }
        .feature-text,
        .feature-img{
        width: 100%;
        }
        .popup{
            margin: 10px auto;
            
        }
        .cards{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            padding: 0px 20px;
            gap: 20px;
            width: 100%;
        }
        .company-logos{
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            justify-content: center;
        }
        .row{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin: 0 auto;
            text-align: center;
        }
        .title{
            text-align: center;
        }
        .description{
            text-align: center;
            padding: 0px 10px;
        }
        .feature-description{
            text-align: left;
        }
    }

    @media only screen and (max-width:576px){
        .photos{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 25px;
        }
        .cards{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            padding: 0px 100px;
            gap: 20px;
            width: 100%;
        }
        .row{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            margin: 0 auto;
            text-align: center;
        }
        .contact-item{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 0px;
        }
        .contact-item input,textarea{
            margin-top: 0px;
            margin-bottom: 40px;
        }
        .contact-title{
            margin-top: 20px;
        }
    }